.info-card{
    padding: 0 5px;
}
.info-primary{
    background-color: #3e6141;
}
.info-dark{
    background-color:#8f1717ef;
}
.info-container{
    height: 100px;
    padding:30px;
}
.info-icon{
    font-size: 3em;
}